<footer class="section-p1">
    <div class="col">
        <img src="assets/logo_btn/Logo.png" class="logoftr" alt="Logo.png">
        <h4>Contact</h4>
        <p><strong>Address : </strong>RedShop.com At any Browser, Available 24x7 after hosted</p>
        <p><strong>Phone : </strong>(+91) 11 2358 1321</p>
        <p><strong>Available : </strong>09:00 AM - 09:00 PM &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Mon-Sat</p>
    
        <div class="follow">
            <h4>Follow us on : </h4>
            <div class="icon">
                <a href="https://www.facebook.com/login/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/login/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/login/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/@Codevolution/featured" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="space"> 
    <div class="col">
        <h4>About</h4>
        <a routerLink="/about-us">About us</a>
        <a href="#">Delevery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a routerLink="/contact-us">Contact us</a>
    </div>

    <div class="col">
        <h4>Account</h4>
        <a routerLink="/login">Sign In</a>
        <a routerLink="/seller-auth">Become Seller</a>
        <a href="#">Talk to service center</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>App</h4>
        <p>Available at PlayStore & AppStore</p>
        <div class="row">
            <img src="/assets/logo_btn/appStore.jpg" class="Estores" alt="appStore.jpg">
            <img src="/assets/logo_btn/playStore.jpg" class="Estores play" alt="playStore.jpg">
        </div>
        <p>Secure payment with ... </p>
        <img src="/assets/logo_btn/paymentFutr.jpg" class="paymentJPG" alt="payment.jpg">
    </div>
</div>
</footer>

<div class="copyright">
    <p><span>&copy;</span>&nbsp;<span>2022-2023</span>,&nbsp;&nbsp;RedShop.com, Inc. or its affiliates</p>
</div>