<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card rounded-3.9 shadow">
            <div class="card-header bg-white">
                <h3 class="text-muted">Forgot Password ? </h3>
            </div>
            <div class="card-body">
                <form class="form" #ForgotPasswordForm="ngForm">
                    <div class="form-group p-1">
                        <label for="">Email : </label>
                        <input type="email" class="form-control rounded-2" name="email" id="email" required>
                    </div>
                    <button [disabled]="ForgotPasswordForm.invalid" routerLink="/login" type="submit" class="btn btn-primary mb-2 mt-1 shadow">Send Mail</button>
                    <div>
                        <a routerLink="/register">need account?&nbsp;&nbsp;&nbsp;<span class="text-danger">Sign up</span> </a>
                        <br>
                        <a routerLink="/login">have account&nbsp;&nbsp;&nbsp;<span class="text-danger"> Sign In</span> </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<hr style="margin-left: 20px; margin-right: 20px;">