<section id="about-head" class="section-p1">
    <img src="assets/about-us-imgs/about_us.jpg" id="Img-one" alt="">
    <div>
        <h2>What is RedShop&nbsp;?</h2>
        <p>RedShop.com is an exceptional e-commerce platform with a focus on providing a seamless online shopping
            experience. Our website boasts an easy-to-use interface, making it easy for customers to browse and purchase
            products. With a flat delivery fee of 50 rupees, our customers can shop for multiple items without worrying
            about the shipping cost. We also offer discounts on our high-priced items to ensure our customers get the
            best deals. At RedShop.com, our goal is to provide our customers with high-quality products at affordable
            prices, while offering a hassle-free shopping experience.
        </p>

        <abbr title="">
            Discover the convenience of online shopping with RedShop.com, where quality meets affordability.
        </abbr>

        <br><br>
    </div>
</section>
<marquee  loop="-1" scrollAmount="5" width="100%">Shop till you drop with RedShop.com, your
    one-stop e-commerce destination for all your needs!
    With RedShop.com, shopping has never been easier - just a click away from great deals and unbeatable prices.
</marquee>
<hr>